extends layout

block content
  script.
      $(function(){
        $('#text_message').jScrollPane({showArrows:true,autoReinitialise: true});
        $('#terminal').jScrollPane({showArrows:true,autoReinitialise: true});
        $('#text_rss').jScrollPane({showArrows:true,autoReinitialise: true});
      });
    
  nav
    div.menu
        div.mail
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300.00001 300')
            g(transform='matrix(2.39593 0 0 2.39593 -13.104 -2569.298)')
              circle(cx='753.853', transform='rotate(135)', cy='-850.678', r='58.655', stroke='#fff', stroke-width='.569', stroke-opacity='.656', fill='none')
              circle(cx='753.853', transform='rotate(135)', cy='-850.678', r='60.456', stroke='#fff', stroke-width='.543', fill='#000')
              g(fill='#fff', fill-opacity='.53', color='#000', white-space='normal')
                path(d='M64.997 1097.208c-7.301.668-14.44 3.443-20.393 8.334l.542 4.507 8.999 8.999c3.846-3.559 8.637-5.432 13.48-5.628v-12.69l-2.628-3.522zM72.089 1097.217l-2.767 3.523v12.68c4.843.196 9.632 2.074 13.476 5.635l9.009-9.01.641-4.403c-5.935-4.918-13.062-7.728-20.36-8.425zM39.529 1110.602c-4.916 5.935-7.725 13.062-8.421 20.358l3.526 2.769h1.015c.089-3.433.71-6.855 1.875-10.137l.213-.6 11.016 3.91a21.248 21.248 0 0 1 4.192-6.653l-9.005-9.005-4.41-.642zm-.992 14.024a31.545 31.545 0 0 0-1.595 9.102h3.404c.093-2.15.574-4.353 1.443-6.97l6.292 2.142c.076-.268.155-.535.241-.8l-9.785-3.474zM97.499 1110.713l-4.5.54-9.002 9.003a21.232 21.232 0 0 1 4.103 6.444l10.38-3.807.597-.22.219.598a32.82 32.82 0 0 1 1.988 10.462h1.035l3.517-2.624c-.667-7.302-3.445-14.443-8.337-20.396zm.795 13.603l-9.755 3.577c.103.305.196.613.284.92l6.223-2.116c.908 2.64 1.415 4.86 1.528 7.036h3.417a31.531 31.531 0 0 0-1.697-9.416z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              path#ab(d='M30.971 1133.005l-5.007 1.65 5.003 1.378 1.979-1.476z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', color='#000', white-space='normal', fill='#fff')
              g(fill='#fff', fill-opacity='.53', color='#000', white-space='normal')
                path(d='M34.623 1135.423l-3.526 2.63c.669 7.302 3.454 14.439 8.347 20.39l4.498-.54 9-9a21.258 21.258 0 0 1-4.111-6.45l-10.375 3.805-.598.22-.219-.598a32.819 32.819 0 0 1-1.988-10.457h-1.028zm2.32 0c.086 3.184.648 6.359 1.698 9.412l9.75-3.575a21.198 21.198 0 0 1-.285-.923l-6.222 2.116c-.907-2.638-1.415-4.856-1.528-7.03h-3.413zM96.583 1135.431c-.094 2.15-.574 4.351-1.443 6.966l-6.292-2.142c-.075.267-.154.532-.24.796l9.787 3.475a31.547 31.547 0 0 0 1.597-9.094h-3.41zm4.701 0c-.09 3.43-.71 6.85-1.875 10.13l-.213.6-11.018-3.912a21.222 21.222 0 0 1-4.19 6.655l9.013 9.012 4.397.64c4.918-5.937 7.726-13.067 8.421-20.366l-3.512-2.759h-1.023zM54.144 1150.102l-9.009 9.009-.64 4.404c5.937 4.916 13.066 7.722 20.365 8.416l2.76-3.515v-12.685c-4.843-.196-9.631-2.07-13.476-5.629zM82.79 1150.102c-3.844 3.558-8.633 5.432-13.474 5.629v12.695l2.624 3.518c7.303-.669 14.443-3.448 20.396-8.341l-.54-4.495-9.006-9.006z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              g(fill='#fff', color='#000', white-space='normal')
                path(d='M43.058 1106.887c-.394.362-.784.732-1.165 1.113-.354.354-.695.715-1.032 1.079l2.504.364-.307-2.556zM93.97 1106.976l-.363 2.498 2.55-.307a37.658 37.658 0 0 0-1.114-1.165c-.352-.352-.71-.691-1.073-1.026zM43.336 1159.684l-2.551.306c.36.392.728.78 1.107 1.159.355.354.716.697 1.08 1.034l.364-2.5zM93.576 1159.713l.305 2.544c.392-.36.779-.728 1.158-1.107.353-.352.693-.712 1.028-1.075l-2.491-.362z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              g(fill='#fff', color='#000', white-space='normal')
                path(style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M38.34 1124.073l-.193.543a29.774 29.774 0 0 0 .105 20.207l.138.378h.505l.096-.035 20.65-7.573-.197-.541a7.182 7.182 0 0 1-.026-4.883l.193-.543-21.27-7.553zm3.424 2.68l16.421 5.59a8.296 8.296 0 0 0 .023 4.547l-16.348 5.56c-2.04-5.93-2.073-9.742-.094-15.697zM98.593 1145.072l.193-.543a29.774 29.774 0 0 0-.104-20.207l-.138-.378h-.506l-.096.035-20.65 7.573.198.541c.578 1.578.588 3.3.025 4.883l-.193.543 21.27 7.553zm-3.424-2.68l-16.42-5.59a8.296 8.296 0 0 0-.024-4.547l16.35-5.561c2.04 5.932 2.073 9.744.094 15.697z')
              text(x='59.697', y='1138.865', font-size='32.36', style='line-height:125%', font-family='sans-serif', letter-spacing='0', word-spacing='0')
                tspan(style="-inkscape-font-specification:'Abyssinica SIL'", x='59.697', y='1138.865', font-weight='400', font-family='Abyssinica SIL', fill='#fff') g
              text(x='-506.595', y='1056.057', font-size='16.965', transform='rotate(-29.497)', style='line-height:125%', font-family='sans-serif', letter-spacing='0', word-spacing='0', fill='#d40000')
                tspan(x='-506.595', y='1056.057') 2
              text(x='625.471', y='982.779', font-size='16.965', transform='matrix(0.86602658,0.49999799,-0.49999804,0.86602651,0,0)', style='line-height:125%', font-family='sans-serif', letter-spacing='0', word-spacing='0', fill='#d40000')
                tspan(x='625.471', y='982.779') 1
              use(xlink:href='#ab', width='100%', height='100%')
              use(xlink:href='#ab', transform='rotate(90 68.465 1134.574)', width='100%', height='100%')
              use(xlink:href='#ab', transform='rotate(180 68.466 1134.574)', width='100%', height='100%')
              use(xlink:href='#ab', transform='rotate(-90 68.465 1134.574)', width='100%', height='100%')
              circle(cx='758.895', transform='scale(-1.00586 -.9941) rotate(-45)', cy='-855.156', r='43.572', stroke='#fff', stroke-width='.391', fill='none')
              g#mc1
                circle(cx='753.853', transform='rotate(135)', cy='-850.678', r='56.045', stroke='#fff', stroke-width='1.332', fill='none')
                circle#bb(cx='68.466', cy='1075.981', r='1.848', stroke='#fff', stroke-width='.569', stroke-linecap='round')
                use(xlink:href='#bb', transform='rotate(18 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(36 68.465 1134.574)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(54 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(72 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(90 68.465 1134.574)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(108 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(126 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(144 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(162 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(180 68.465 1134.574)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-162 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-144 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-126 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-108 68.465 1134.574)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-90 68.465 1134.574)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-72 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-54 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-36 68.465 1134.575)', width='100%', height='100%')
                use(xlink:href='#bb', transform='rotate(-18 68.465 1134.575)', width='100%', height='100%')
              g#mc2
                path#cb(d='M38.649 1172.33l-2.138 2.325m-7.39-12.25l-2.433 2.034m-6.49-28.883l-2.843.06a50.889 50.889 0 0 0 9.512 28.665l-1.429 1.188a109.92 109.92 0 0 0 9.94 10.404l1.227-1.33a50.91 50.91 0 0 0 31.155 11.15l.04-2.844a48.097 48.097 0 0 1-29.273-10.39l.957-1.036a103.649 103.649 0 0 1-9.386-9.83l-1.048.873a48.089 48.089 0 0 1-8.852-26.91z', fill='none', fill-rule='evenodd', stroke='#fff', stroke-width='.853')
                use(xlink:href='#cb', width='100%', height='100%')
                use(xlink:href='#cb', transform='rotate(90 68.464 1134.579)', width='100%', height='100%')
                use(xlink:href='#cb', transform='rotate(180 68.464 1134.579)', width='100%', height='100%')
                use(xlink:href='#cb', transform='rotate(-90 68.464 1134.579)', width='100%', height='100%')
      
    
        div.facebook
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300.00001 300')
            g(transform='translate(0 -752.362)')
              circle(cx='532', cy='-744.132', r='142.544', transform='rotate(135)', fill='#000', stroke='#fff', stroke-width='1.28')
              circle(cx='532', cy='-744.132', r='132.142', transform='rotate(135)', fill='none', stroke='#fff', stroke-width='3.141')
              g#c4
                g#a(fill='#fff', fill-opacity='0', stroke='#fff', stroke-opacity='.383')
                  path(d='M42.569 899.23a105.21 105.21 0 0 1 103.29-102.332', stroke-width='.9449388')
                  path(d='M50.858 899.456a96.918 96.918 0 0 1 94.716-94.259', stroke-width='7.9996742')
                use(xlink:href='#a', transform='rotate(90 149.762 903.59)', width='100%', height='100%')
                g(fill='none', stroke='#fff', stroke-opacity='.383')
                  path(d='M256.954 907.95a105.21 105.21 0 0 1-103.29 102.332', stroke-width='.9449388')
                  path(d='M248.666 907.724a96.918 96.918 0 0 1-94.717 94.259', stroke-width='7.9996742')
                g(fill='none', stroke='#fff', stroke-opacity='.383')
                  path(d='M145.402 1010.783A105.21 105.21 0 0 1 43.07 907.493', stroke-width='.9449388')
                  path(d='M145.628 1002.494a96.918 96.918 0 0 1-94.26-94.717', stroke-width='7.9996742')
                path#c(d='M264.554 902.542H242.92', fill='none', fill-rule='evenodd', stroke='#fff', stroke-width='1.269')
                use(xlink:href='#c', transform='rotate(90 150.001 902.364)', width='100%', height='100%')
                use(xlink:href='#c', transform='rotate(180 150.001 902.364)', width='100%', height='100%')
                use(xlink:href='#c', transform='rotate(-90 150.001 902.364)', width='100%', height='100%')

              circle(cx='532', cy='-744.132', r='137.767', transform='rotate(135)', fill='none', stroke='#fff', stroke-width='1.237', stroke-dasharray='9.89274432,4.94637216', stroke-opacity='.596')
              g#c3
                path#b(d='M42.476 957.623a116.908 116.908 0 0 1-1.32-107.987', fill='#fff', fill-opacity='0', stroke='#fff', stroke-width='7', stroke-linecap='round')
                use(height='100%', width='100%', transform='rotate(90 150.253 902.121)', xlink:href='#b')
                use(height='100%', width='100%', transform='rotate(180 150.003 902.371)', xlink:href='#b')
                use(height='100%', width='100%', transform='rotate(-90 150.003 902.371)', xlink:href='#b')
                g#e(transform='rotate(135 150.832 904.946)')
                  circle#d(cx='122.771', cy='778.181', r='1.237')
                  use(xlink:href='#d', width='100%', height='100%')
                  use(xlink:href='#d', transform='rotate(3.9 149.521 901.431)', width='100%', height='100%')
                  use(xlink:href='#d', transform='rotate(7.8 149.521 901.431)', width='100%', height='100%')
                  use(xlink:href='#d', transform='rotate(11.7 149.521 901.431)', width='100%', height='100%')
                  use(xlink:href='#d', transform='rotate(15.6 149.521 901.431)', width='100%', height='100%')
                  use(xlink:href='#d', transform='rotate(19.5 149.521 901.431)', width='100%', height='100%')
                  use(xlink:href='#d', transform='rotate(23.4 149.521 901.431)', width='100%', height='100%')
                use(height='100%', width='100%', transform='rotate(90 149.882 902.97)', xlink:href='#e')
                use(height='100%', width='100%', transform='rotate(180 149.625 902.72)', xlink:href='#e')
                use(height='100%', width='100%', transform='rotate(-90 150.625 902.22)', xlink:href='#e')
                path#f(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M222.007 997.127l-2.533 1.609 4.952 7.903s-.493.288-.921.58c-.428.292-.858.581-1.289.867l-.567.295-.567.295-7.065-12.432c6.2-4.093 12.08-8.868 17.538-14.326a112.316 112.316 0 0 0 14.327-17.54l12.483 7.02-.676 1.114-.676 1.114c-.276.407-.555.813-.8 1.246-4.221-2.69-3.603-2.284-7.86-5.002l-1.614 2.528 7.697 4.912s-.565.742-.862 1.138a125.53 125.53 0 0 1-1.814 2.363c-.308.392-.298.383-.64.833-3.79-2.931-3.038-2.363-7.042-5.443l-1.829 2.378 7.033 5.317c-.407.5-1.012 1.16-1.34 1.54-.33.38-.66.758-.995 1.134-.334.377-.651.735-1.16 1.243-3.572-3.19-2.721-2.338-6.52-5.676l-2.029 2.209 6.313 5.901c-.438.506-.384.403-.74.767a121.373 121.373 0 0 1-2.22 2.218c-.383.374.001 0-.795.707-3.594-3.806-2.43-2.582-5.838-6.31l-2.214 2.025 5.672 6.548c-.5.424-1.114 1.027-1.511 1.378-.398.35-.797.698-1.197 1.043-.401.344-.82.764-1.178 1.07-3.04-3.965-2.27-3.043-5.34-7.054l-2.383 1.824 5.318 7.15c-.479.36-.891.685-1.305 1.006-.413.321-.828.64-1.245.955-.416.316-.835.628-1.467 1.076-2.922-4.124-2.392-3.26-5.101-7.523z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff', fill-rule='evenodd')
                path(d='M222.007 997.127l-2.533 1.609 4.952 7.903s-.493.288-.921.58c-.428.292-.858.581-1.289.867l-.567.295-.567.295-7.065-12.432c6.2-4.093 12.08-8.868 17.538-14.326a112.316 112.316 0 0 0 14.327-17.54l12.483 7.02-.676 1.114-.676 1.114c-.276.407-.555.813-.8 1.246-4.221-2.69-3.603-2.284-7.86-5.002l-1.614 2.528 7.697 4.912s-.565.742-.862 1.138a125.53 125.53 0 0 1-1.814 2.363c-.308.392-.298.383-.64.833-3.79-2.931-3.038-2.363-7.042-5.443l-1.829 2.378 7.033 5.317c-.407.5-1.012 1.16-1.34 1.54-.33.38-.66.758-.995 1.134-.334.377-.651.735-1.16 1.243-3.572-3.19-2.721-2.338-6.52-5.676l-2.029 2.209 6.313 5.901c-.438.506-.384.403-.74.767a121.373 121.373 0 0 1-2.22 2.218c-.383.374.001 0-.795.707-3.594-3.806-2.43-2.582-5.838-6.31l-2.214 2.025 5.672 6.548c-.5.424-1.114 1.027-1.511 1.378-.398.35-.797.698-1.197 1.043-.401.344-.82.764-1.178 1.07-3.04-3.965-2.27-3.043-5.34-7.054l-2.383 1.824 5.318 7.15c-.479.36-.891.685-1.305 1.006-.413.321-.828.64-1.245.955-.416.316-.835.628-1.467 1.076-2.922-4.124-2.392-3.26-5.101-7.523zM55.569 974.903l-1.61-2.532-7.903 4.952s-.287-.493-.58-.921c-.291-.428-.58-.858-.867-1.29l-.295-.566-.295-.567 12.433-7.065c4.093 6.199 8.868 12.08 14.326 17.538a112.314 112.314 0 0 0 17.54 14.327l-7.02 12.483-1.114-.676-1.114-.676c-.407-.276-.813-.555-1.246-.8 2.69-4.221 2.283-3.603 5.002-7.86l-2.528-1.615-4.913 7.698s-.74-.565-1.138-.862a125.187 125.187 0 0 1-2.363-1.815c-.39-.307-.382-.297-.832-.64 2.93-3.79 2.363-3.037 5.442-7.04l-2.378-1.83-5.316 7.033c-.501-.407-1.161-1.012-1.54-1.34-.38-.33-.758-.66-1.135-.995-.376-.334-.735-.652-1.242-1.16 3.189-3.572 2.338-2.721 5.676-6.52l-2.21-2.029-5.9 6.313c-.507-.438-.403-.384-.767-.74a121.373 121.373 0 0 1-2.218-2.22c-.374-.383 0 0-.707-.795 3.806-3.594 2.581-2.43 6.309-5.838l-2.024-2.215-6.548 5.673c-.424-.5-1.027-1.114-1.378-1.511-.35-.398-.698-.797-1.043-1.198-.345-.4-.765-.819-1.07-1.177 3.964-3.04 3.043-2.27 7.053-5.34l-1.823-2.383-7.15 5.318c-.36-.48-.685-.891-1.006-1.305-.322-.413-.64-.828-.955-1.245a52.843 52.843 0 0 1-1.077-1.467c4.125-2.922 3.26-2.393 7.524-5.102z', style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff', fill-rule='evenodd')
                use(height='100%', width='100%', transform='rotate(180 149.892 902.796)', xlink:href='#f')
                use(height='100%', width='100%', transform='rotate(-90 149.892 902.796)', xlink:href='#f')
              path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M149.999 813.876c-1.14 0-2.28.027-3.42.07l3.478 4.665 3.655-4.653a89.79 89.79 0 0 0-3.713-.082z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff')
              path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M141.823 814.261c-17.215 1.574-34.048 8.116-48.082 19.649l1.277 10.627 21.217 21.216c9.068-8.39 20.364-12.807 31.783-13.27v-29.917l-6.195-8.305zM158.542 814.285l-6.524 8.306v29.895c11.42.464 22.71 4.89 31.774 13.287l21.24-21.242 1.512-10.381c-13.993-11.597-30.797-18.222-48.002-19.865zM81.772 845.835c-11.59 13.993-18.213 30.796-19.853 47.998l8.312 6.528h2.395a77.39 77.39 0 0 1 4.42-23.9l.502-1.415 25.972 9.221a50.09 50.09 0 0 1 9.883-15.687l-21.23-21.233-10.4-1.512zM79.434 878.9a74.374 74.374 0 0 0-3.761 21.46H83.7c.219-5.07 1.352-10.264 3.402-16.433l14.834 5.049c.178-.63.365-1.26.569-1.885l-23.07-8.191zM218.452 846.103l-10.61 1.275-21.224 21.225a50.056 50.056 0 0 1 9.674 15.193l24.47-8.974 1.41-.518.516 1.408a77.38 77.38 0 0 1 4.688 24.666h2.44l8.292-6.185c-1.573-17.218-8.122-34.054-19.656-48.09zm1.875 32.074l-23 8.434c.242.719.461 1.443.67 2.17l14.672-4.99c2.14 6.224 3.336 11.458 3.601 16.587h8.057c-.2-7.511-1.523-14.999-4-22.2z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff', fill-opacity='.53')
              path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M61.595 898.664c-.098 2.378-.101 4.76-.01 7.138l4.666-3.48-4.657-3.658zM238.409 898.957l-4.639 3.46 4.63 3.637c.096-2.365.099-4.732.01-7.097z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff')
              path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M70.206 904.36l-8.315 6.202c1.578 17.215 8.144 34.042 19.68 48.074l10.606-1.275 21.22-21.219a50.12 50.12 0 0 1-9.693-15.205l-24.461 8.97-1.41.518-.516-1.408a77.38 77.38 0 0 1-4.687-24.656h-2.424zm5.47 0a74.344 74.344 0 0 0 4.002 22.192l22.989-8.43a49.97 49.97 0 0 1-.672-2.175l-14.67 4.99c-2.14-6.22-3.337-11.45-3.604-16.576h-8.044zM216.294 904.378c-.22 5.068-1.354 10.259-3.403 16.422l-14.834-5.049a49.914 49.914 0 0 1-.566 1.877l23.076 8.194a74.38 74.38 0 0 0 3.764-21.444h-8.037zm11.084 0a77.39 77.39 0 0 1-4.42 23.883l-.502 1.414-25.979-9.222a50.037 50.037 0 0 1-9.879 15.691l21.25 21.248 10.368 1.508c11.597-13.998 18.216-30.807 19.855-48.018l-8.281-6.504h-2.412zM116.227 938.968l-21.24 21.24-1.51 10.383c13.998 11.592 30.807 18.208 48.016 19.844l6.508-8.287v-29.91c-11.418-.46-22.708-4.88-31.774-13.27zM183.768 938.97c-9.062 8.388-20.354 12.806-31.767 13.272v29.931l6.187 8.293c17.218-1.576 34.054-8.127 48.088-19.666l-1.273-10.597-21.235-21.233z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff', fill-opacity='.53')
              path(d='M90.093 837.082a88.763 88.763 0 0 0-2.748 2.625 88.692 88.692 0 0 0-2.432 2.542l5.904.86-.724-6.027zM210.126 837.289l-.856 5.888 6.01-.722a88.788 88.788 0 0 0-2.625-2.748 88.666 88.666 0 0 0-2.53-2.418zM90.749 961.562l-6.016.723a88.743 88.743 0 0 0 2.612 2.732 88.643 88.643 0 0 0 2.546 2.438l.858-5.893zM209.204 961.63l.719 5.998a88.769 88.769 0 0 0 2.732-2.61c.83-.83 1.632-1.68 2.422-2.534l-5.873-.854zM149.962 986.128l-3.64 4.635c2.366.097 4.736.098 7.103.008l-3.463-4.642zM78.97 877.603l-.456 1.281a70.197 70.197 0 0 0 .247 47.64l.326.893h1.191l.227-.084 48.687-17.855-.467-1.275a16.932 16.932 0 0 1-.06-11.512l.455-1.281-50.15-17.807zm8.072 6.32l38.717 13.178c-.98 3.52-.962 7.211.054 10.72l-38.548 13.113c-4.81-13.987-4.888-22.974-.223-37.01zM221.033 927.115l.455-1.281a70.197 70.197 0 0 0-.246-47.64l-.326-.893h-1.192l-.226.084-48.688 17.855.467 1.275a16.932 16.932 0 0 1 .06 11.512l-.454 1.281 50.15 17.807zm-8.073-6.32l-38.716-13.178c.98-3.52.962-7.211-.055-10.72l38.548-13.113c4.81 13.987 4.889 22.974.223 37.01z', style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff')
              text(style='line-height:125%', x='132.341', y='931.346', font-weight='400', font-size='76.297', font-family='sans-serif', letter-spacing='0', word-spacing='0')
                tspan(x='132.341', y='931.346', style="-inkscape-font-specification:'sans-serif Bold'", font-weight='700', fill='#fff') f
              text(style='line-height:125%', x='112.429', y='939.2251', transform='matrix(0.8660254,0.5,-0.5,0.8660254,499.31672,67.232615)', font-weight='400', font-size='40', font-family='sans-serif', letter-spacing='0', word-spacing='0', fill='#d40000')
                tspan(x='112.429', y='979.381') 0
              text(style='line-height:125%', x='-331.541', y='941.381', transform='rotate(-29.497)', font-weight='400', font-size='40', font-family='sans-serif', letter-spacing='0', word-spacing='0', fill='#d40000')
                tspan(x='-331.541', y='941.381') 0


        div.twiter
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300.00001 300')
            g(transform='matrix(2.3303 0 0 2.3303 -20.55 -2523.225)')
              circle(cx='759.22', transform='rotate(135)', cy='-863.056', r='62.657', stroke='#fff', stroke-width='.563', fill='#000')
              path#tc3(d='M92.29 1094.51l-1.001 2.809c-1.111-.371-3.164-1.072-4.319-1.38l-.771 2.877a50.768 50.768 0 0 1 12.324 5.102l1.485-2.573c-1.011-.585-3.218-1.641-4.27-2.176l1.257-2.708a56.867 56.867 0 0 0-4.705-1.951zm-38.02.122a56.915 56.915 0 0 0-4.707 1.947l1.278 2.695c-1.048.523-2.996 1.479-4.03 2.077l1.49 2.58a50.763 50.763 0 0 1 12.321-5.107l-.768-2.869c-1.13.301-3.437 1.114-4.558 1.48l-1.027-2.803zm19.873 3.168a49.327 49.327 0 0 0-35.6 14.443 49.327 49.327 0 0 0 0 69.759 49.327 49.327 0 0 0 69.76 0 49.327 49.327 0 0 0 0-69.76 49.327 49.327 0 0 0-34.16-14.442zm45.051 22.707l-2.58 1.49a50.764 50.764 0 0 1 5.107 12.322l2.869-.768c-.301-1.13-1.114-3.437-1.48-4.558l2.803-1.027a56.89 56.89 0 0 0-1.947-4.707l-2.694 1.279c-.523-1.048-1.48-2.996-2.078-4.03zm-91.545.03c-.586 1.01-1.643 3.218-2.177 4.269l-2.708-1.257a56.885 56.885 0 0 0-1.95 4.705l2.808 1.002c-.372 1.11-1.072 3.164-1.381 4.319l2.878.77a50.767 50.767 0 0 1 5.102-12.323l-2.572-1.486zm94.08 39.358a50.764 50.764 0 0 1-5.101 12.324l2.571 1.486c.586-1.011 1.643-3.219 2.177-4.27l2.708 1.256a56.873 56.873 0 0 0 1.951-4.704l-2.808-1.002c.37-1.111 1.071-3.164 1.38-4.319l-2.878-.77zm-96.601.027l-2.87.77c.301 1.128 1.114 3.436 1.48 4.557l-2.803 1.026a56.888 56.888 0 0 0 1.947 4.707l2.695-1.277c.523 1.047 1.48 2.994 2.077 4.029l2.58-1.49a50.771 50.771 0 0 1-5.106-12.322zm73.42 30.389a50.763 50.763 0 0 1-12.322 5.107l.769 2.869c1.128-.301 3.436-1.114 4.558-1.48l1.026 2.803a56.88 56.88 0 0 0 4.707-1.947l-1.278-2.695c1.047-.523 2.995-1.48 4.03-2.077l-1.49-2.58zm-50.223.013l-1.485 2.572c1.011.586 3.218 1.643 4.27 2.177l-1.257 2.708a56.903 56.903 0 0 0 4.705 1.951l1.002-2.809c1.11.371 3.164 1.072 4.318 1.38l.771-2.877a50.772 50.772 0 0 1-12.324-5.102z', stroke='#fff', stroke-width='1.173', stroke-opacity='.568', fill='none')
              circle(cx='759.22', transform='rotate(135)', cy='-863.056', r='58.086', stroke='#fff', stroke-width='1.381', fill='none')
              circle(cx='758.775', transform='rotate(135)', cy='-863.056', r='60.561', stroke='#fff', stroke-width='.544', stroke-dasharray='4.34862903,2.17431451', stroke-opacity='.596', fill='none')
              g(fill='#fff', fill-opacity='.53', color='#000', white-space='normal')
                path(d='M69.828 1108.396c-7.567.691-14.967 3.567-21.136 8.636l.562 4.672 9.326 9.326c3.986-3.688 8.952-5.63 13.971-5.833v-13.151l-2.723-3.65zM77.178 1108.404l-2.868 3.652v13.14c5.02.205 9.983 2.15 13.967 5.842l9.336-9.338.665-4.563c-6.151-5.098-13.537-8.01-21.1-8.732zM43.432 1122.277c-5.095 6.151-8.006 13.537-8.727 21.1l3.654 2.869h1.052a34.018 34.018 0 0 1 1.943-10.506l.22-.622 11.418 4.053a22.021 22.021 0 0 1 4.344-6.896l-9.332-9.333-4.572-.664zm-1.028 14.535a32.693 32.693 0 0 0-1.653 9.433h3.528c.097-2.229.595-4.512 1.496-7.224l6.52 2.22c.08-.277.161-.554.25-.829l-10.14-3.6zM103.513 1122.392l-4.664.56-9.33 9.33a22.005 22.005 0 0 1 4.253 6.679l10.756-3.945.62-.228.227.62a34.015 34.015 0 0 1 2.06 10.842h1.073l3.645-2.72c-.691-7.567-3.57-14.968-8.64-21.138zm.824 14.099l-10.11 3.707c.106.316.203.634.294.954l6.45-2.194c.94 2.736 1.466 5.037 1.583 7.292h3.541a32.679 32.679 0 0 0-1.758-9.76z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              g(fill='#fff', fill-opacity='.53', color='#000', white-space='normal')
                path(d='M38.348 1148.002l-3.655 2.725c.694 7.568 3.58 14.965 8.651 21.133l4.662-.561 9.328-9.327a22.032 22.032 0 0 1-4.261-6.684l-10.753 3.943-.62.228-.226-.62a34.014 34.014 0 0 1-2.06-10.838h-1.066zm2.405 0c.088 3.3.67 6.59 1.759 9.754l10.105-3.705a21.97 21.97 0 0 1-.295-.957l-6.449 2.194c-.94-2.734-1.467-5.033-1.584-7.287h-3.536zM102.563 1148.01c-.097 2.228-.595 4.51-1.495 7.22l-6.521-2.22c-.078.276-.16.551-.25.825l10.145 3.601a32.696 32.696 0 0 0 1.654-9.425h-3.533zm4.873 0a34.021 34.021 0 0 1-1.943 10.499l-.221.621-11.42-4.054a21.995 21.995 0 0 1-4.342 6.898l9.34 9.34 4.558.663c5.098-6.154 8.008-13.542 8.728-21.108l-3.64-2.859h-1.061zM58.58 1163.215l-9.338 9.337-.663 4.564c6.153 5.096 13.542 8.004 21.107 8.723l2.86-3.643v-13.148c-5.019-.202-9.982-2.144-13.966-5.833zM88.268 1163.215c-3.984 3.687-8.947 5.63-13.964 5.834v13.157l2.72 3.646c7.568-.693 14.968-3.573 21.138-8.645l-.56-4.659-9.334-9.333z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              g(fill='#fff', color='#000', white-space='normal')
                path(style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M47.09 1118.427c-.409.375-.812.758-1.208 1.154-.366.366-.72.74-1.069 1.117l2.595.378-.318-2.65zM99.855 1118.519l-.376 2.589 2.642-.318a39.028 39.028 0 0 0-1.154-1.208 39.025 39.025 0 0 0-1.112-1.063zM47.378 1173.145l-2.644.318c.373.406.754.808 1.148 1.201.367.367.741.722 1.12 1.072l.376-2.59zM99.447 1173.176l.316 2.637c.406-.373.807-.755 1.2-1.148.366-.365.718-.738 1.065-1.114l-2.581-.375z')
              g(fill='#fff', color='#000', white-space='normal')
                path(style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M42.2 1136.238l-.2.564a30.858 30.858 0 0 0 .109 20.942l.143.392h.524l.1-.037 21.401-7.849-.205-.56a7.443 7.443 0 0 1-.026-5.06l.2-.564-22.045-7.828zm3.55 2.779l17.018 5.792a8.598 8.598 0 0 0 .024 4.713l-16.944 5.763c-2.114-6.146-2.148-10.097-.098-16.27zM104.647 1158.002l.2-.563a30.858 30.858 0 0 0-.108-20.942l-.144-.393h-.523l-.1.037-21.402 7.849.205.56c.6 1.635.61 3.42.027 5.061l-.2.563 22.044 7.828zm-3.549-2.778l-17.019-5.793a8.598 8.598 0 0 0-.024-4.713l16.945-5.763c2.115 6.148 2.149 10.099.098 16.269z')
              text(x='67.388', y='1157.03', font-size='33.538', style='line-height:125%', font-family='sans-serif', letter-spacing='0', word-spacing='0')
                tspan(style="-inkscape-font-specification:'Abyssinica SIL'", x='67.388', y='1157.03', font-weight='400', font-family='Abyssinica SIL', fill='#fff') t
              text(x='-508.734', y='1070.688', font-size='17.583', transform='rotate(-29.497)', style='line-height:125%', font-family='sans-serif', letter-spacing='0', word-spacing='0', fill='#d40000')
                tspan(x='-508.734', y='1070.688') 2
              text(x='635.997', y='992.421', font-size='17.583', transform='matrix(0.86602659,0.49999799,-0.49999803,0.86602652,0,0)', style='line-height:125%', font-family='sans-serif', letter-spacing='0', word-spacing='0', fill='#d40000')
                tspan(x='635.997', y='992.421') 1
              g(color='#000', white-space='normal', fill='#fff')
                path(d='M34.51 1145.457c-.023.554-.038 1.11-.038 1.67 0 .518.014 1.033.035 1.546l2.102-1.568-2.099-1.648zM71.887 1108.211l1.564 2.097 1.643-2.093a39.029 39.029 0 0 0-1.67-.038c-.515 0-1.027.014-1.537.034zM73.406 1183.945l-1.645 2.094c.551.024 1.105.038 1.661.038.52 0 1.035-.013 1.55-.034l-1.566-2.098zM110.246 1147.149l2.088 1.64a39.02 39.02 0 0 0 .037-1.66c0-.516-.014-1.03-.034-1.54l-2.091 1.56z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              g#s1(fill='#fff', fill-rule='evenodd', stroke='#000', stroke-width='2')
                path(d='M62.873 1140.84l-6.4-10.611-16.03 2.242z', stroke-width='.54666')
                path(d='M62.905 1140.7l-1.535-12.296-15.558-4.467z', stroke-width='.54666')
                path(d='M62.943 1140.642l3.695-9.202-9.158-9.162z', stroke-width='.54666')
                path(d='M63.173 1140.837l5.19-5.774-4.176-9.35z', stroke-width='.54666')
              g#s2(fill='#fff', fill-rule='evenodd', stroke='#000', stroke-width='2')
                path(d='M83.826 1140.647l6.4-10.612 16.03 2.242z', stroke-width='.54666')
                path(d='M83.794 1140.508l1.534-12.297 15.558-4.467z', stroke-width='.54666')
                path(d='M83.756 1140.45l-3.695-9.204 9.157-9.16z', stroke-width='.54666')
                path(d='M83.526 1140.644l-5.19-5.774 4.176-9.35z', stroke-width='.54666')
              circle(cx='759.22', transform='rotate(135)', cy='-863.056', r='41.441', stroke='#fff', stroke-width='.372', fill='none')
              use(xlink:href='#path6856', transform='matrix(.211 .211 -.211 .211 91.9 966.967)', width='100%', height='100%')
              use(xlink:href='#path6856', transform='matrix(0 .2984 -.2984 0 213.877 1032.798)', width='100%', height='100%')
              use(xlink:href='#path6856', transform='matrix(-.211 .211 -.211 -.211 253.578 1165.599)', width='100%', height='100%')
              use(xlink:href='#path6856', transform='matrix(-.2984 0 0 -.2984 187.747 1287.576)', width='100%', height='100%')
              use(xlink:href='#path6856', transform='matrix(-.211 -.211 .211 -.211 54.947 1327.277)', width='100%', height='100%')
              use(xlink:href='#path6856', transform='matrix(0 -.2984 .2984 0 -67.03 1261.446)', width='100%', height='100%')
              use(xlink:href='#path6856', transform='matrix(.211 -.211 .211 .211 -106.731 1128.645)', width='100%', height='100%')
              circle#tc4(cx='759.22', transform='rotate(135)', cy='-863.056', r='44.74', stroke='#fff', stroke-width='1.194', fill='none')
        
        div.rec.buttons
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300.00001 300')
            g(transform='translate(-123.305 -29.237)')
              circle(r='146.01', cy='-319.996', transform='rotate(135)', cx='-66.516', stroke='#fff', stroke-width='1.311', fill='#000')
              path#arec(d='M288.028 37.88l-7.362 12.75-7.36 12.75-7.362-12.75-7.361-12.75h14.722z', fill='#fff', fill-opacity='.447', stroke='#fff', stroke-width='1.3')
              use(xlink:href='#arec', transform='rotate(36 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(72 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(108 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(144 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(180 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(-144 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(-108 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(-72 273.313 179.231)', width='100%', height='100%')
              use(xlink:href='#arec', transform='rotate(-36 273.313 179.231)', width='100%', height='100%')
              circle(cx='273.305', cy='179.237', r='90.51', fill='#fff', fill-opacity='.573', stroke='#fff', stroke-width='1.3')
              circle(cx='273.305', cy='179.237', r='107.568', fill='none', stroke='#fff', stroke-width='3')

        
        div.sound.buttons
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300.00001 300')
            g(transform='translate(53.39 102.966)')
              circle(r='146.01', cy='-101.572', transform='rotate(135)', cx='-35.056', stroke='#fff', stroke-width='1.311', fill='#000')
              g(color='#000', font-weight='400', font-family='sans-serif', white-space='normal', fill='#fff', stroke='#fff', stroke-width='2')
                path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M203.604 47.643c-.153 27.178-10.594 54.308-31.336 75.05-20.741 20.742-47.871 31.183-75.048 31.336v1.989c27.693-.154 55.339-10.787 76.462-31.91 21.125-21.125 31.758-48.771 31.91-76.465z', overflow='visible')
                path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M192.343 47.527c-.125 24.334-9.468 48.63-28.04 67.201-18.569 18.57-42.859 27.913-67.189 28.04v1.986c24.846-.127 49.652-9.66 68.604-28.611 18.953-18.954 28.488-43.766 28.613-68.616z', overflow='visible')
              g(fill='#fff', stroke='#fff')
                path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M150.75-7.202c-27.695.152-55.344 10.785-76.47 31.91-21.121 21.122-31.754 48.764-31.91 76.454h1.986c.156-27.174 10.6-54.299 31.338-75.038C96.438 5.381 123.571-5.062 150.751-5.213z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', stroke-width='2')
                path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M150.856 4.06c-24.849.126-49.66 9.66-68.613 28.613-18.95 18.951-28.486 43.757-28.613 68.602h1.99c.128-24.329 9.47-48.617 28.039-67.186 18.57-18.57 42.864-27.915 67.197-28.04z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', stroke-width='2')
                path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M150.856 32.226c-17.641.125-35.246 6.905-48.701 20.36-13.452 13.452-20.232 31.05-20.36 48.689h1.987C83.91 84.153 90.5 67.07 103.569 54c13.073-13.072 30.162-19.663 47.287-19.789z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', stroke-width='2')
                path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M150.856 42.081c-15.12.126-30.2 5.943-41.73 17.473-11.528 11.528-17.348 26.605-17.475 41.72h1.988c.128-14.599 5.755-29.158 16.9-40.304 11.149-11.148 25.714-16.775 40.317-16.9z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', stroke-width='2')
                path(d='M66.263-577.515a38.49 38.49 0 0 1-27.217 11.274 38.49 38.49 0 0 1-27.217-11.274l27.217-27.216z', transform='rotate(135 -51.124 -228.216)', stroke-width='.346')
              circle(r='123.484', cy='-101.572', transform='rotate(135)', cx='-35.056', stroke='#fff', stroke-width='1.109', fill='none')
              path#ac(fill='#fff', fill-opacity='.447', stroke='#fff', d='M92.612-94.22h7.997v13.612h-7.997z')
              use(xlink:href='#ac', transform='rotate(7.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(14.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(21.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(28.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(36 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(43.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(50.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(57.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(64.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(72 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(79.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(86.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(93.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(100.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(108 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(115.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(122.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(129.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(136.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(144 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(151.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(158.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(165.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(172.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(180 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-172.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-165.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-158.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-151.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-144 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-136.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-129.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-122.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-115.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-108 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-100.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-93.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-86.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-79.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-72 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-64.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-57.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-50.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-43.2 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-36 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-28.8 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-21.6 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-14.4 96.61 47.113)', width='100%', height='100%')
              use(xlink:href='#ac', transform='rotate(-7.2 96.61 47.113)', width='100%', height='100%')
              path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M149.35-47.691c-37.722.207-75.38 14.688-104.154 43.462C16.43 24.538 1.946 62.187 1.734 99.9h2.705C4.652 62.891 18.875 25.946 47.122-2.3c28.253-28.253 65.21-42.476 102.228-42.683z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff', stroke='#fff', stroke-width='1.3')
              path(style='line-height:normal;text-indent:0;text-align:start;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M149.494-32.353c-33.844.171-67.638 13.158-93.452 38.972C30.23 32.43 17.244 66.216 17.07 100.056h2.71c.175-33.136 12.9-66.218 38.19-91.508 25.294-25.294 58.383-38.021 91.524-38.193z', color='#000', font-weight='400', font-family='sans-serif', white-space='normal', overflow='visible', fill='#fff', stroke='#fff', stroke-width='1.3')

        
        div.settings.buttons
          svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 300.00001 300')
            g(transform='translate(0 -1.271)')
              circle(r='146.01', cy='-213.031', transform='rotate(135)', cx='.899', stroke='#fff', stroke-width='1.311', fill='#000')
              circle(r='135.357', cy='-213.031', transform='rotate(135)', cx='.899', stroke='#fff', stroke-width='3.218', fill='none')
              circle(r='141.124', cy='-213.031', transform='rotate(135)', cx='-.138', stroke='#fff', stroke-width='1.267', stroke-dasharray='10.13360234,5.06680116', stroke-opacity='.596', fill='none')
              g(fill='#fff', color='#000', white-space='normal')
                path(d='M88.636 84.402a90.82 90.82 0 0 0-2.815 2.689 90.685 90.685 0 0 0-2.49 2.604l6.047.88-.742-6.173zM211.595 84.617l-.876 6.032 6.156-.74a90.948 90.948 0 0 0-2.689-2.815 90.94 90.94 0 0 0-2.59-2.477zM89.308 211.912l-6.162.74c.87.947 1.758 1.883 2.675 2.8a90.77 90.77 0 0 0 2.609 2.496l.878-6.036zM210.643 211.984l.736 6.144a90.931 90.931 0 0 0 2.799-2.675c.85-.85 1.672-1.719 2.48-2.595l-6.015-.874z', style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal')
              g(color='#000', white-space='normal', fill='#fff')
                path(style='text-indent:0;text-decoration-line:none;text-decoration-style:solid;text-decoration-color:#000;text-transform:none;block-progression:tb;isolation:auto;mix-blend-mode:normal', d='M59.322 147.39a90.817 90.817 0 0 0-.089 3.892c0 1.207.033 2.407.08 3.603l4.9-3.654-4.89-3.84zM146.42 60.597l3.645 4.885 3.83-4.877a90.948 90.948 0 0 0-3.892-.089c-1.2 0-2.393.034-3.583.08zM149.96 237.079l-3.833 4.88c1.284.055 2.574.088 3.87.088 1.21 0 2.412-.031 3.611-.08l-3.647-4.888zM235.808 151.333l4.865 3.824c.055-1.285.088-2.574.088-3.87 0-1.203-.033-2.399-.08-3.59l-4.873 3.636z')
              circle(r='96.571', cy='-213.031', transform='rotate(135)', cx='.899', stroke='#fff', stroke-width='.867', fill='none')
              g(transform='translate(-250 -303.948)')
                circle(cx='39.046', transform='rotate(135)', cy='-604.731', r='104.257', stroke='#fff', stroke-width='2.781', fill='none')
                path#as(d='M387 332.862h26v19s-14-4.56-26 0z', fill='#fff', stroke-width='2')
                use(height='100%', width='100%', transform='rotate(36 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(72 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(108 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(144 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(180 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(-144 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(-108 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(-72 400.008 455.221)', xlink:href='#as')
                use(height='100%', width='100%', transform='rotate(-36 400.008 455.221)', xlink:href='#as')
              g(transform='translate(-250 -303.948)', opacity='.671')
                circle(cx='39.046', transform='rotate(135)', cy='-604.731', r='69.665', stroke='#fff', stroke-width='5', fill='none')
                path#bs(d='M352.75 381.279l27.07-11.453 6.792 16.053s-13.094.933-27.07 11.453z', fill='none', stroke='#fff', stroke-width='3.849')
                use(height='100%', width='100%', transform='rotate(45 400 455.24)', xlink:href='#bs')
                use(height='100%', width='100%', transform='rotate(90 400 455.24)', xlink:href='#bs')
                use(height='100%', width='100%', transform='rotate(135 400 455.24)', xlink:href='#bs')
                use(height='100%', width='100%', transform='rotate(180 400 455.24)', xlink:href='#bs')
                use(height='100%', width='100%', transform='rotate(-135 400 455.24)', xlink:href='#bs')
                use(height='100%', width='100%', transform='rotate(-90 400 455.24)', xlink:href='#bs')
                use(height='100%', width='100%', transform='rotate(-45 400 455.24)', xlink:href='#bs')
              circle(cx='150.008', cy='151.273', r='44.901', fill='#fff', fill-opacity='.623', stroke='#fff', stroke-width='5')

    div.clock
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 349 349.00001', height='100%', width='100%',preserveAspectRatio="none")
        path(d='M56.079 173.128c0-50.702 33.394-147.505 33.394-147.505L3.44 174.21z', fill='#fff', fill-opacity='.721', stroke='#fff', stroke-width='.568', stroke-linecap='round')
        path(d='M57.042 175.348c0 50.702 33.395 147.505 33.395 147.505L4.405 174.266z', fill='#fff', fill-opacity='.393', stroke='#fff', stroke-width='.568', stroke-linecap='round')
        path(d='M259.861 322.428H89.139L3.778 174.578l85.361-147.85h170.722l85.361 147.85z', fill='none', stroke='#fff', stroke-width='5.6776', stroke-linecap='round')
        path(d='M4.528 174.408h340.91', fill='none', stroke='#fff', stroke-width='2.839')
        path(d='M90.48 23.92s-34.065 97.541-34.065 148.243c0 50.703 34.065 148.243 34.065 148.243M260.452 27.784s34.065 95.258 34.065 144.862c0 49.605-34.065 144.863-34.065 144.863', fill='none', stroke='#fff', stroke-width='1.136')
        path(d='M294.512 173.656c0-50.702-34.53-147.505-34.53-147.505L347.15 174.74z', fill='#fff', fill-opacity='.392', stroke='#fff', stroke-width='.568', stroke-linecap='round')
        path(d='M294.684 175.877c0 50.702-35.665 147.505-35.665 147.505l86.032-148.588z', fill='#fff', fill-opacity='.721', stroke='#fff', stroke-width='.568', stroke-linecap='round')
        g(font-weight='400', font-size='33.086', font-family='sans-serif', letter-spacing='0', word-spacing='0')
        text(y='835.349', x='75.643', style='line-height:125%', fill='#fff', transform='translate(0 -703.362)')
          tspan(y='835.349', x='75.643')
            tspan(y='835.349', x='75.643', font-size='72.375') 13:
        text(y='828.574', x='200.537', style='line-height:125%', transform='translate(0 -703.362)')
          tspan(y='828.574', x='200.537', font-size='53.764', fill='#fff') 30
        text(style='line-height:125%;text-align:center', x='81.302', y='919.691', font-weight='400', font-size='33.086', font-family='sans-serif', letter-spacing='0', word-spacing='0', text-anchor='middle', fill='#fff', transform='translate(0 -703.362)')
          tspan(x='153.927', y='919.691', style='text-align:start', text-anchor='start')
            tspan(x='153.927', y='919.691', style='text-align:start', dx='0 0 0') 12
          tspan(x='100.389', y='961.048', style='text-align:start', text-anchor='start')
            tspan(x='100.389', y='961.048', style='text-align:start', dx='0 0 0 0 0 0 0 0 0') Grudzie
          tspan(x='132.86', y='1002.405', style='text-align:start', text-anchor='start')
            tspan(x='132.86', y='1002.405', style='text-align:start') 2016

      
  main
      div.message
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 269.66001 419.266', height='100%', width='100%',preserveAspectRatio="none")
          g(transform='translate(54.83 -694.158)', stroke='#fff')
            path(d='M147.91 1112.424H-53.83V760.839l65.92-65.681h201.74v351.584z', fill='none', stroke-width='2')
        div.text
          h1#title tytu
          article#text_message
            p jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
            p 2 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
            p 3 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst 
            p 4 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
            p 5 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst v jaki tam tekst
            p 6 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst

      div.rss
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 269.26599 264.797', height='100%', width='100%', preserveAspectRatio="none")
          g(stroke-width='1.926', fill='none', stroke='#fff')
            path(d='M529.342 574.27v47.771h-6.9v42.108l6.9 14.035v56.143l-6.9 14.036v42.108h7.188v47.66h-36.358v-19.589h-29.169l-14.584 19.7H362.01l-14.584-19.7h-29.169v19.7h-36.07m-.102.784v-47.772h6.901v-42.107l-6.9-14.036v-56.143l6.9-14.036v-42.107H281.8v-47.66h36.358v19.589h29.168v17.91h116.677v-17.91h29.169v-19.701h36.07', transform='matrix(1.07811 0 0 .99994 -302.773 -574.205)')
            path(d='M353.175 581.858h104.688v25.5H353.175z', transform='matrix(1.07811 0 0 .99994 -302.773 -574.205)' fill="#fff" fill-opacity='0.3')
            path(style='fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', d='m 11.112726,121.86486 -5.9868083,10.36945 6.1266393,10.61165 z', inkscape:connector-curvature='0')
            path(style='fill:#ffffff;fill-opacity:1;fill-rule:evenodd;stroke:#ffffff;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1', d='m 258.15327,121.86486 5.98681,10.36945 -6.12664,10.61165 z', inkscape:connector-curvature='0')

        div.text
          h1#title tytu
          article#text_rss
            p jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
            p 2 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
            p 3 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst 
            p 4 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
            p 5 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst v jaki tam tekst
            p 6 jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst jaki tam tekst
      
      div.computer_monitoring
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 269.26599 132.39101', height='100%', width='100%', preserveAspectRatio="none")
          g(fill='none', stroke='#fff', stroke-width='1.956')
            path(d='M379.042 576.2l-48.588-.03-24.088-24.256.119-64.06 24.257-24.088 209.43.118 24.088 24.257-.12 64.06-24.255 24.088-49.341-.03', transform='matrix(1.0359 0 0 1.00965 -316.306 -466.752)')
            path(d='M492.285 576.236l-19.343 15.71h-75.258l-19.343-15.71 19.343-15.644h75.258z', fill='#fff', fill-opacity='.236', transform='matrix(1.0359 0 0 1.00965 -316.306 -466.752)')

      div.terminal
        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 442.39096 264.79699', height='100%', width='100%',preserveAspectRatio="none")
          path(d='M397.446 191.477h43.751v40.3L400.673 263.4H41.718L1.194 231.777v-40.3h43.751V73.32H1.194v-40.3L41.718 1.398h358.955l40.524 31.623v40.3h-43.751z', fill='none', stroke='#fff', stroke-width='1.996')
        div.text
          article#terminal
              p terminal
          form(action="#" method="method")
              input(type="text", name="terminal_text")
              input(type="submit", value="wylij")
