extends layout

block content
    div.container 
      svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 1052.3622 744.09448', height='100%', width='100%',preserveAspectRatio="none")
        g(stroke='#fff')
          g(fill='#fff', fill-rule='evenodd')
            path(d='M928.158 507.6h68.98v-97.279l-68.98-68.98H123.81l-68.98 68.98v97.28h68.98zM928.158 855.458h68.98v97.279l-68.98 68.98H123.81l-68.98-68.98v-97.28h68.98z', transform='matrix(1.10985 0 0 .99992 -57.584 -309.428)')
          path(stroke-width='4.932', d='M84.833 68.172H967.53v607.75H84.833z')
          path(d='M757.705 109.891H294.657L194.41 67.944h663.54z', fill='#fff', stroke='#fff', stroke-width='4.121', stroke-linecap='round')
        text(y='391.975', x='406.343', style='line-height:125%;-inkscape-font-specification:STIX', font-weight='400', font-size='40', font-family='STIX', letter-spacing='0', word-spacing='0', transform='translate(.197 -309.482)')
            tspan(y='391.975', x='406.343') LOGOWANIE
      div.user.icon
      div.exit.icon
      div.registration.icon
      div.form
        div.form_icon
        form(action="#" method="method")
            input(type="password" name="password")
